@import '../../styles/app';


.root {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: $sidebar-width-closed;
  background: $body-bg;
  transition: left $sidebar-transition-time ease-in-out, right $sidebar-transition-time ease-in-out;

  &.sidebar-open {
    left: $sidebar-width-open;
    right: -($sidebar-width-open - $sidebar-width-closed);
  }
}


.container {
  padding: $padding-large-vertical $padding-large-horizontal;
}
