@import '../../styles/app';


.root {
  width: $sidebar-width;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  padding: $padding-large-vertical $padding-large-horizontal;
}

.nav {
  padding-left: 0;

  > li{
    list-style: none;
  }
}
